[Unit]
Description=chat
After=network.target

[Service]
WorkingDirectory=/var/www/chat/server
ExecStart=/usr/bin/nodejs /var/www/chat/server/server.js
#Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
